@font-face {
    font-family: 'molotregular';
    font-weight: normal;
    font-style: normal;
    src: url('../Font/web fonts/molot_regular_macroman/Molot-webfont.eot');
    src: url('../Font/web fonts/molot_regular_macroman/Molot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Font/web fonts/molot_regular_macroman/Molot-webfont.woff') format('woff'),
         url('../Font/web fonts/molot_regular_macroman/Molot-webfont.ttf') format('truetype'),
         url('../Font/web fonts/molot_regular_macroman/Molot-webfont.svg#molotregular') format('svg');
}

.spacer{margin-top:20px;}


header{
	background-color: black;
	color: white;
	width: 100%;
	font-family: "molotregular", zillaslab;
	vertical-align: middle;
	text-align: center;
}

h1{	margin-bottom: 0px !important;}


#combat{

}

#display{
	background-image:url("../Images/flammes2.jpg");
	background-repeat: no-repeat;
	background-position:center top;
	align-content: center;
}

#historique{
	text-align: center;

}

.annonce{
	font-family: "molotregular", zillaslab;}

footer{
	justify-content: center;
	background-color: black;
	color: white;
}





